* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: auto;
    background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(./images/main-background.jpg);
    min-height: 95vh;
    overflow: auto;
    
}

h1 {
    width: 940px;
    height: 175px;
    font-size: 4em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    letter-spacing: 30px;
    text-shadow: 2px 2px 5px gray;
    text-align: center;
    padding-top: 45px;
    margin: 10px auto;
    margin-bottom: 20px;
    border: 1px solid gray;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(./images/header-img.jpg);
    background-position-y: 50%;

}

img{
    margin: 0px 10px;
    opacity: 0.95;
    border: 1px solid grey;
}

a {
    text-decoration: none;
}

.home-list {
    list-style: none;
}

figure {
    float: left;
}

figcaption {
    padding-left: 10px;
}

.recipe-main-img {
    float: left;
}

.recipe-title {
    display: inline-block;
    width: 460px;
    padding: 60px 10px;
    border-bottom: 2px solid black;
}

.caption {
    display: inline-block;
    width: 460px;
}

.ingredients{
    clear: left;
    float: left;
    width: 300px;
    margin: 10px;
}

.method {
    width: 620px;
    float: left;
    margin: 10px;
}

.recipe-title.turkey-nachos {
    padding: 120px 10px 60px 10px;
}